@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Global styles */
/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
#shaan {
  zoom: 0.9;
}
.row{
  display: flex;
  margin: 5px 10px 5px 10px;
}

.space-around {
  justify-content: space-around;
}
 .icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}
.stats{
  width: 130%;
}
#circle-shaan .bb_blue{
  border-bottom: 2px solid #6693b9 ;
}

#circle-shaan .bb_yellow{
  border-bottom: 2px solid #bc9b69 ;
}

#circle-shaan .bb_red{
  border-bottom: 2px solid #ca6d54 ;
}
#circle-shaan .bb_black{
  border-bottom: 2px solid #6c6e6d ;
}


.main {
  margin: 20px;
  
}

/* header */
.image-profile {
  height: 120px;
  width: 120px;
  border: solid 2px #919191;
  background: white;
}

/* attributs */
.circle-shaan {
  zoom: 80%;
  background-image: url('../assets/cercle.png');
  height: 800px !important;
  width: 800px !important;
  background-position: left;
  background-size: contain;
  margin-top: -50px;
}

.attribut-circle {
  /* border: 1px dashed blue; */
  width: 100%;
  height: 100%;
  position: relative;
}

.attribut-point {
  /* border: 1px dashed rgb(61, 61, 255); */
  position: absolute;
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.v-align{
  align-items: center;
}

#shaan input {
  border:none;
  border-bottom : solid 1px black; 
  background-color:transparent;
}

#shaan .input-file {
  max-width: 140px; word-wrap: break-word
} 
#shaan label {
  white-space: pre
}

#shaan .p-5{
  margin: 5px;
}


#circle-shaan .attribut-point input {
  font-size: 1.4em;

  text-align: center;
  margin-top: 10px;
}
#circle-shaan .attribut-point input:focus {
  font-size: 1.4em;
  text-align: center;
  margin-top: 10px;
}
#circle-shaan .attribut-point:not(.current) input {
  font-size: 2em;
  border: none;
}
#circle-shaan .attribut-point:not(.current) input:focus {
  font-size: 2em;

  border: none;
}
.attribut-arts {
  top: 83px;
  left: 199px;
}

.attribut-arts.current {
  top: 38px;
  left: 120px;
}

.attribut-shaan {
  top: 35px;
  left: 376px;
}

.attribut-shaan.current {
  top: -10px;
  left: 298px;
}

.attribut-magie {
  top: 85px;
  left: 545px;
}
.attribut-magie.current {
  top: 40px;
  left: 610px;
}

.attribut-social {
  top: 263px;
  left: 55px;
}
.attribut-social.current {
  top: 203px;
  left: 10px;
}

.attribut-savoir {
  top: 448px;
  left: 56px;
}
.attribut-savoir.current {
  top: 388px;
  left: 10px;
}
.attribut-technique {
  top: 602px;
  left: 147px;
}
.attribut-technique.current {
  top: 548px;
  left: 80px;
}
.attribut-rituels {
  top: 262px;
  left: 683px;
}
.attribut-rituels.current {
  top: 202px;
  left: 718px;
}
.attribut-survie {
  top: 450px;
  left: 685px;
}
.attribut-survie.current {
  top: 390px;
  left: 710px;
}
.attribut-combat {
  top: 598px;
  left: 592px;
}
.attribut-combat.current {
  top: 540px;
  left: 632px;
}
.attribut-necrose {
  top: 685px;
  left: 372px;
}
.attribut-necrose.current {
  top: 675px;
  left: 285px;
}

.trine-ame  {
  top: 310px;
  left: 326px;
}
.trine-ame input {
 
  color: #6693ba;
}

.trine-esprit  {
  top: 435px;
    left: 220px;
}

.trine-esprit input {
    color:#bc9a68
}

.trine-corps  {
  top: 468px;
  left: 388px;

}
.trine-corps input {
  color:#ca6d54

}






















.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6 / span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flexlarge {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.align-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

/* Styles limited to shaan sheets */
.shaan .item-form {
  font-family: "Roboto", sans-serif;
}

.shaan .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 auto;
  flex: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.shaan .sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}

.shaan .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.shaan .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.shaan .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.shaan .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.shaan .sheet-body,
.shaan .sheet-body .tab,
.shaan .sheet-body .tab .editor {
  height: 100%;
}

.shaan .tox .tox-editor-container {
  background: #fff;
}

.shaan .tox .tox-edit-area {
  padding: 0 8px;
}

.shaan .resource-label {
  font-weight: bold;
}

.shaan .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}

.shaan .items-header > * {
  font-size: 14px;
  text-align: center;
}

.shaan .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shaan .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}

.shaan .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.shaan .items-list .item-name {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shaan .items-list .item-name h3, .shaan .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}

.shaan .items-list .item-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.shaan .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}

.shaan .items-list .item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}

.shaan .items-list .item:last-child {
  border-bottom: none;
}

.shaan .items-list .item .item-name {
  color: #191813;
}

.shaan .items-list .item .item-name .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}

.shaan .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}

.shaan .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}

.shaan .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}

.shaan .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}

.shaan .item-formula {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  padding: 0 8px;
}

.shaan .effects .item .effect-source,
.shaan .effects .item .effect-duration,
.shaan .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}

.shaan .effects .item .effect-controls {
  border: none;
}
