<form id="shaan" class="{{cssClass}} {{actor.type}} main" autocomplete="off">
<div class="charactersheet main" style="display: block;">
  <!-- <input type="radio" name="attr_tab" class="sheet-tab sheet-tab1" value="Domaines &amp; Spé" title="Domaines &amp; Spé"><span title="Domaines &amp; Spé"></span>
      <input type="radio" name="attr_tab" class="sheet-tab sheet-tab2" value="Pouvoirs" title="Pouvoirs"><span title="Pouvoirs"></span>
      <input type="radio" name="attr_tab" class="sheet-tab sheet-tab3" value="Magies" title="Magies">	<span title="Magies"></span>
      <input type="radio" name="attr_tab" class="sheet-tab sheet-tab4" value="Acquis" title="Acquis"><span title="Acquis"></span>
      <input type="radio" name="attr_tab" class="sheet-tab sheet-tab5" value="Notes" title="Notes"><span title="Notes"></span>	 -->

  <div
    class="sheet-tab-content"
    style='background-image: url("https://imgsrv.roll20.net/?src=https%3A//nsm09.casimages.com/img/2019/01/17//1901171158446857316079960.jpg") ; height: 1060px ; width: 1500px ; background-repeat: no-repeat'
  >
    <div style="width: 750px">
      <div style="margin: 0px 0px 0px 220px">
        <div>
          <input
            type="text"
            name="name"
            placeholder="Nom Personnage"
            style="margin: 19px 0px 0px 0px ; width: 340px ; height: 24px"
            value="{{actor.name}}"
          />
        </div>
        <div style="margin: 2px 0 0 0">
          <select name="data.race.value" data-type="String" style="width: 240px ; height: 24px" value="{{data.race.value}}">
            {{#select data.race.value}}
         
            <option value="">-- Race --</option>
            <option value="Boreal">Boréal</option>
            <option value="Darken">Darken</option>
            <option value="Delhion">Delhion</option>
            <option value="Felin">Felin</option>
            <option value="Humain">Humain</option>
            <option value="Kelwin">Kelwin</option>
            <option value="Melodien">Mélodien</option>
            <option value="Nomoi">Nomoï</option>
            <option value="Woon">Woon</option>
            <option value="Ygwan">Ygwan</option>
        {{/select}}

          </select>
         
          <input type="text" name="data.age.value" value="{{data.age.value}}" data-dtype="Number"
          style="width: 70px ; margin: -5px 0 0 45px ; height: 24px"
          />

          
        </div>
        <div style="margin: -8px 0 0 0">
          <select
            name="data.peuple.value"
            style="width: 180px ; height: 24px ; margin: 0 0 0 14px"
            value="{{data.peuple.value}}"
          >
          {{#select data.peuple.value}}

            <option value="">-- Peuple --</option>
            <option value="Cites">Cités</option>
            <option value="Forets_Blanches">Forêts Blanches</option>
            <option value="Glaces">Glaces</option>
            <option value="Grands_Arbres">Grands Arbres</option>
            <option value="Hautes_Herbes">Hautes Herbes</option>
            <option value="Marais">Marais</option>
            <option value="Montagne">Montagne</option>
            <option value="Rivages">Rivages</option>
            <option value="Sables">Sables</option>
            <option value="Terres_Brulees">Terres Brûlées</option>
            {{/select}}
          </select>
          <input
            type="text"
            name="data.genre.value"
            placeholder="Genre"
            style="width: 120px ; height: 24px ; margin: -4px 0 0 45px"
            value="{{data.genre.value}}"
          />
        </div>
        <div>
          <select
            name="data.caste.value"
            style="width: 130px ; height: 24px ; margin: 0 0 0 8px"
            value="{{data.caste.value}}"
          >
          {{#select data.caste.value}}

            <option value="">-- Caste --</option>
            <option value="Artiste">Artiste</option>
            <option value="Combattant">Combattant</option>
            <option value="Elementaliste">Elémentaliste</option>
            <option value="Erudit">Erudit</option>
            <option value="Magicien">Magicien</option>
            <option value="Negociant">Négociant</option>
            <option value="Novateur">Novateur</option>
            <option value="Ombre">Ombre</option>
            <option value="Shaaniste">Shaaniste</option>
            <option value="Voyageur">Voyageur</option>
            {{/select}}
          </select>
          <input
            type="text"
            name="data.metier.value"
            placeholder="Métier"
            style="width: 155px ; margin: -5px 0 0 66px ; height: 24px"
            value="{{data.metier.value}}"
          />
        </div>
      </div>
    
  </div>
</div>
</form>