<form id="shaan" class="{{cssClass}} {{actor.type}} main" autocomplete="off">
  <div id="shaan" class="main">
    <div class="row">
      <div class="col s2">
        <div class="col image-profile"></div>
      </div>

      <div class="col s10">
        <div class="row">
          <div class="input-field  row v-align">
            <label for="name">Nom : </label>
            <input type="text" name="name" value="{{actor.name}}" />
          </div>
        </div>
        <div class="divider"></div>

        <div class="row">
          <div class="row">
            <label for="name">Réserve : </label>
            <input type="number" placeholder="Réserve" />
          </div>

          <div class="row">
            <label for="name">Experience : </label>
            <input type="number" placeholder="Experience" />
          </div>
          <div class="row">
            <label for="name">Préstige : </label>
            <input type="number" placeholder="Préstige" />
          </div>
          <!-- <div class="col s3">
              <input type="number" placeholder="Caste" />
            </div> -->
        </div>
      </div>
    </div>
  </div>

  <!-- cercle shaan -->
  <div id="circle-shaan" class="circle-shaan">
    <div class="row attribut-circle">
      <!--âme-->

      <div class="attribut-point attribut-arts">
        <input type="number" value="0" />
      </div>
      <div class="attribut-point attribut-arts current ">
        <input type="number" class="bb_blue" value="1" />
      </div>
      <div class="attribut-point attribut-shaan">
        <input type="number" value="0" />
      </div>
      <div class="attribut-point attribut-shaan current ">
        <input type="number" class="bb_blue" value="1" />
      </div>
      <div class="attribut-point attribut-magie">
        <input type="number" value="0" />
      </div>
      <div class="attribut-point attribut-magie current ">
        <input type="number" class="bb_blue" value="1" />
      </div>
      <!--esprit-->

      <div class="attribut-point attribut-social">
        <input type="number" value="0" />
      </div>
      <div class="attribut-point attribut-social current ">
        <input type="number" class="bb_yellow" value="1" />
      </div>
      <div class="attribut-point attribut-savoir">
        <input type="number" value="0" />
      </div>
      <div class="attribut-point attribut-savoir current ">
        <input type="number" class="bb_yellow" value="1" />
      </div>
      <div class="attribut-point attribut-technique">
        <input type="number" value="0" />
      </div>
      <div class="attribut-point attribut-technique current ">
        <input type="number" class="bb_yellow" value="1" />
      </div>

      <!--corps-->
      <div class="attribut-point attribut-rituels">
        <input type="number" value="0" />
      </div>
      <div class="attribut-point attribut-rituels current ">
        <input type="number" class="bb_red" value="1" />
      </div>
      <div class="attribut-point attribut-survie">
        <input type="number" value="0" />
      </div>
      <div class="attribut-point attribut-survie current ">
        <input type="number" class="bb_red" value="1" />
      </div>
      <div class="attribut-point attribut-combat">
        <input type="number" value="0" />
      </div>
      <div class="attribut-point attribut-combat current ">
        <input type="number" class="bb_red" value="1" />
      </div>
      <!--necrose-->
      <div class="attribut-point attribut-necrose">
        <input type="number" value="0" />
      </div>
      <div class="attribut-point attribut-necrose current ">
        <input type="number" class="bb_black" value="1" />
      </div>
      <!--trines-->
      <div class="attribut-point trine-ame">
        <input type="number" value="0" />
      </div>
      <div class="attribut-point trine-esprit">
        <input type="number" value="0" />
      </div>
      <div class="attribut-point trine-corps">
        <input type="number" value="0" />
      </div>
      <!--necrose-->
    </div>
  </div>
  <!-- /cercle shaan -->

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="skills">Spécialisations</a>
    <a class="item" data-tab="features">Features</a>
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="tab skills" data-group="primary" data-tab="skills">
      <section class="grid grid-12-col">
        {{!-- For the main skills list, span the right two columns --}}
        <section class="main grid-span-2">
          {{!-- This is a Handlebars partial. They're stored in the `/parts`
          folder next to this sheet, and defined in module/helpers/templates.mjs
          --}} {{> "systems/shaan/templates/actor/parts/actor-skills.html"}}
        </section>
      </section>
    </div>
    {{!-- Owned features Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      <section class="grid grid-3col">
        <aside class="sidebar">
          {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns. --}}
        </aside>

        {{!-- For the main features list, span the right two columns --}}
        <section class="main grid-span-2">
          {{!-- This is a Handlebars partial. They're stored in the `/parts`
          folder next to this sheet, and defined in module/helpers/templates.mjs
          --}} {{> "systems/shaan/templates/actor/parts/actor-features.html"}}
        </section>
      </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered,
      you need to pass the actor's roll data to the rollData property. --}}
      {{editor content=data.biography target="data.biography" rollData=rollData
      button=true owner=owner editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      {{> "systems/shaan/templates/actor/parts/actor-items.html"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/shaan/templates/actor/parts/actor-effects.html"}}
    </div>
  </section>
</form>
