
    
<form  id="shaan" class="{{cssClass}} {{actor.type}}  main" autocomplete="off">

      <div class="row">
        <div class="col s2">
          <div class="col image-profile"></div>
        </div>
        <div class="row">
          <div class="col s10">
            <div class="row">
              <div class="input-field col s3">
                <input type="text" name="name" value="{{data.name}}"/>
               <label for="name">Nom</label>
              </div>
              <div class="input-field col s12">
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
              </div>
              <div class="col s3">
                <input type="text" placeholder="Race" />
              </div>
              <div class="col s3">
                <input type="text" placeholder="Peuple" />
              </div>
              <div class="col s3">
                <input type="text" placeholder="Caste" />
              </div>
            </div>
            <div class="divider"></div>
            <div class="row">
              <div class="col s10">
                <div class="row">
                  <div class="col s3">
                    <input type="number" placeholder="Réserve" />
                  </div>

                  <div class="col s3">
                    <input type="number" placeholder="Experience" />
                  </div>
                  <div class="col s3">
                    <input type="number" placeholder="Préstige" />
                  </div>
                  <!-- <div class="col s3">
                <input type="number" placeholder="Caste" />
              </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- cercle shaan -->
      <div id="circle-shaan" class="circle-shaan">
        <div class="row attribut-circle">
          <!--âme-->

          <div class="attribut-point attribut-arts">
            <input type="number" value="{{data.abilities.ame.arts.value}}" />
          </div>
          <div class="attribut-point attribut-arts current ">
            <input type="number" class="bb_blue" value="1" />
          </div>
          <div class="attribut-point attribut-shaan">
            <input type="number" value="0" />
          </div>
          <div class="attribut-point attribut-shaan current ">
            <input type="number" class="bb_blue" value="1" />
          </div>
          <div class="attribut-point attribut-magie">
            <input type="number" value="0" />
          </div>
          <div class="attribut-point attribut-magie current ">
            <input type="number" class="bb_blue" value="1" />
          </div>
          <!--esprit-->

          <div class="attribut-point attribut-social">
            <input type="number" value="0" />
          </div>
          <div class="attribut-point attribut-social current ">
            <input type="number" class="bb_yellow" value="1" />
          </div>
          <div class="attribut-point attribut-savoir">
            <input type="number" value="0" />
          </div>
          <div class="attribut-point attribut-savoir current ">
            <input type="number" class="bb_yellow" value="1" />
          </div>
          <div class="attribut-point attribut-technique">
            <input type="number" value="0" />
          </div>
          <div class="attribut-point attribut-technique current ">
            <input type="number" class="bb_yellow" value="1" />
          </div>

          <!--corps-->
          <div class="attribut-point attribut-rituels">
            <input type="number" value="0" />
          </div>
          <div class="attribut-point attribut-rituels current ">
            <input type="number" class="bb_red" value="1" />
          </div>
          <div class="attribut-point attribut-survie">
            <input type="number" value="0" />
          </div>
          <div class="attribut-point attribut-survie current ">
            <input type="number" class="bb_red" value="1" />
          </div>
          <div class="attribut-point attribut-combat">
            <input type="number" value="0" />
          </div>
          <div class="attribut-point attribut-combat current ">
            <input type="number" class="bb_red" value="1" />
          </div>
          <!--necrose-->
          <div class="attribut-point attribut-necrose">
            <input type="number" value="0" />
          </div>
          <div class="attribut-point attribut-necrose current ">
            <input type="number" class="bb_black" value="1" />
          </div>
          <!--trines-->
          <div class="attribut-point trine-ame">
            <input type="number" value="0" />
          </div>
          <div class="attribut-point trine-esprit">
            <input type="number" value="0" />
          </div>
          <div class="attribut-point trine-corps">
            <input type="number" value="0" />
          </div>
          <!--necrose-->
        </div>
      </form>
      <!-- /cercle shaan -->
  
